body {
    margin: 0;
    overflow: hidden;
  }
  
  .pokemon-container {
    width: 100vw;
    height: 100vh;
    background: url('your-background-image.jpg') center/cover no-repeat; /* Замініть 'your-background-image.jpg' на зображення фону */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .pokemon-sprite {
    width: 96px; /* Розмір фото покемона */
    height: 96px;
    background-size: cover;
  }
  