body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Hide the scrollbar */
}

nav {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.home {
    position: relative;
    background-color: #fff;
    max-width: 2050px; /* Adjust the value as needed */
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 16px;
    color: #21243d;
    font-family: Heebo;
    padding: 20px;
}

/* Додайте решту стилів сюди */
